//Fonts
$font-family:'Open Sans', sans-serif;

//position
$position-absolute:absolute;
$position-relative:relative;

//colors
$logo-color: #017be8;
$title-color: #4e4e4e;
$subtitle-color:#9e9e9e;
$gallery-hover-color:#ededed;
$search-bar:#f3f3f3;
$input-border:#8d8d8d;
$menu-color:#3f4044;
$avatar-color:#7d7d7d;
$search-icon:#6f6e73;
$white-color:#fff;

//Sizes - Pixels
$px-5: 5px;
$px-14: 14px;
$px-15: 15px;
$px-50:50px;

//sizes - Percentages
$perc-16-66: 16.66%;
$perc-20: 20%;
$perc-25: 25%;
$perc-50:50%;
$perc-33-33: 33.33%;
$perc-83-33:83.33%;
$perc-100:100%;

